.main-carrousel {
    position: relative;
    padding: 0px 100px 100px 100px;
    display: flex;
    justify-content: space-evenly;
}

.main-carrousel::after {
    content: "";
    height: 5px;
    width: 100%;
    background-color: #000;
    position: absolute;
    top: 35px;
}

.main-carrousel .button-arrow {
    position: absolute;
    bottom: 170px;
    transform: translateY(50%);
}

.main-carrousel .button-arrow.-left {
    left:15px;
}

.main-carrousel .button-arrow.-right {
    right: 15px;
}