.progress-bar {
    background-color: #FFF;
    border: 5px solid #000;
    height: 35px;
    box-sizing: border-box;
}

.progress-bar::-webkit-progress-bar, .progress-bar::-moz-progress-bar {
    background-color: #FFD845;
}